*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(image.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 170px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.navbar ul li a{
    text-decoration: none;
    color: #f8f6f2;
    font-size: 15px;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
}

.left-col{
    margin-left: 6%;
}

.left-col h1{
    font-size: 90px;
    color: #f3eded;
    line-height: 110px;
    float: left;
}

.left-col h1:hover{
    scale: 1.1;
}

.left-col h2{
    font-size: 40px;
    color: white;
}

.left-col h3{
    font-size: 40px;
}

.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right-col p{
    font-size: 18px;
    color: #b3a088;
    font-weight: 400;
    margin-right: 15px;
}

#icon{
    width: 90px;
    cursor: pointer;
}
